<div class="page-header">
  <h2>Detect Module</h2>
</div>
<div class="sub-header">
  <div class="panel panel-info">

    <div class="panel-heading">
      <h3 class="panel-title">Detect</h3>
    </div>
    <p>This feature allows the user to upload a single image and then select features to detect within that image.</p>
    <hr>
    <image-upload
      [preview]="true"
      [max]="1"
      [buttonCaption]="'Select Your Image!'"
      [dropBoxMessage]="'Or Drop your image here!'"
      (onFileUploadFinish)="imageUploaded($event)"
      (onRemove)="imageRemoved($event)"></image-upload>

    <div class="panel-body">
      <span class="page-header">Select Features to Detect</span>
        <form (ngSubmit)="detect(detectFeaturesForm.value)" #detectFeaturesForm="ngForm">
          <div class="checkbox">
            <label class="active">
              <input type="checkbox" [(ngModel)]="formModel.age" name="age" checked="checked">Age
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="formModel.glassed" name="glassed" >Glassed
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="formModel.facial_hair" name="facial_hair" >Facial Hair
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="formModel.smile" name="smile" >Smile
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="formModel.head_pose" name="head_pose" >Head Pose
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="formModel.gender" name="gender" >Gender
            </label>
          </div>

          <hr>
          <button class="btn btn-default" type="submit">Upload</button>
        </form>
      <hr>
      <br>

      <div class="portfolio" *ngIf="state">
        <div class="page-header">{{image}}</div>
        <div class="portfolio-holder" id="portfolio">
          <img class="materialboxed responsive-img" src="{{imgsrc}}">
        </div>
      </div>
    </div>

  </div>
</div>
