<div class="page-header">
  <h2>Verify Module</h2>
</div>
<div class="sub-header">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6">
          <image-upload
            [preview]="true"
            [max]="1"
            [buttonCaption]="'Select Query Image!'"
            [dropBoxMessage]="'Or Drop your Query image here!'"
            (onFileUploadFinish)="imageUploaded($event)"></image-upload>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
          <image-upload
            [preview]="true"
            [max]="1"
            [buttonCaption]="'Select Verification Image!'"
            [dropBoxMessage]="'Or Drop your verification image here!'"
            (onFileUploadFinish)="imageUploaded($event)"></image-upload>
        </div>
      </div>
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-default" type="submit">Button</button>
    </div>
  </div>
